body {
    margin: 0px;
    height: 100%;
}

#bottom-bar {
    position: absolute;
    padding: 1vw;
    z-index: 1;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 8vh;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#palette {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#colors {
    height: 100%;
    display: flex;
    flex-direction: row;

    & div {
        flex-grow: 1;
        height: 100%;
    }
}
